@import "tailwindcss";

:root {
  --color-primary: #2e7d32; /* leafy green */
  --color-secondary: #81c784;
}

body {
  @apply bg-gray-50 text-gray-900;
}
/* Custom thin green scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #065f46; /* dark green */
  border-radius: 9999px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #065f46 transparent;
}
