@import "tailwindcss";

:root {
  --color-primary: #1b5e20; /* deep forest green */
  --color-secondary: #4caf50; /* balanced medium green */
}

body {
  @apply bg-gray-50 text-gray-900;
}
/* Custom thin green scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #388e3c; /* dark green */
  border-radius: 9999px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #388e3c transparent;
}
